@RenderPage("~/Views/Admin/Common.cshtml")
@model BTv6.Models.complain

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Notice</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/pendingReg.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    <div class="table">
        <div align="center"><h4 style="color:navajowhite">Complain Details</h4></div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <span style="color:navajowhite">Sent By:</span>
                <p style="color:white">@Html.DisplayFor(model => model.customer.name) (Username: @Html.DisplayFor(model => model.OwnerID))</p> 
            </dt>

            <br />

            <dd>
                <span style="color:navajowhite">Subject:</span> 
                <p style="color:white">@Html.DisplayFor(model => model.sub)</p>
                <hr />
            </dd>

           

            <dt>
                <span style="color:navajowhite">Content:</span>
            </dt>

            <dd>
                <p style="color:white">@Html.DisplayFor(model => model.Text)</p>
                
            </dd>
        </dl>
    </div>
</body>
</html>
