@RenderPage("~/Views/Admin/Common.cshtml")
@model List<BTv6.Models.product>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/manage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    <div class="box">
        <form method="POST">
            <input type="submit" name="CREATE" id="CREATE" value="CREATE">
            <input type="submit" name="PRINT" id="PRINT" onclick="savePDF()" value="Export PDF">
            <input type="submit" name="excel" onclick="exportToExcel('tblexportData', 'user-data')" value="Export Excel">
        </form>
        <div align="right" class="table" id="table">
            <table class="content-table" id="tblexportData">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Sell Status</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Join Date</th>
                        <th>Added By</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id='tab'>
                    
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
