@RenderPage("~/Views/Admin/Common.cshtml")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="assets/styles/alldash.css">-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/alldash.css">
    <title>Customer Reports</title>
</head>
<body>

    <div class="pro">
        <div style="margin-left:160px">
            <h2>Status Analysis</h2>
            <iframe src="~/Admin/RegistrationChart/" width="400" height="300"></iframe><br />
        </div>
    </div>
</body>
</html>

