@model BTv6.Models.log_in
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!--<link rel="stylesheet" type="text/css" href="assets/styles/login.css">-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/login.css">
</head>

<body>
    <div class="loginbox">

        <img src="~/Assets/image/user.png" class="avatar">
        <span style="color:green;">@TempData["suc"]</span>
        <span style="color:red;">@TempData["Error1"]</span>
        <span style="color:green;">@TempData["Error2"]</span>
        <h1>Login Here</h1>
        <form method="post">
            <p>Username</p>
            <input type="text" name="LID" id="LID" placeholder="Enter Username" required><br>
            <p>Password</p>
            <input type="password" name="PASS" id="PASS" placeholder="Enter Password" required><br>

            <span style="color:red;">@TempData["error"]</span>

            <input type="submit" name="submit" value="Login">
        </form>
        <a href="/RecoverPassword/Index">Forget password?</a><br>
        <a href="~/Signup/Index/">Don't have an account?</a>
    </div>
</body>

</html>