
@using BTv6.Models;
<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <!--<link rel="stylesheet" type="text/css" href="assets/styles/signup.css">-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/signup.css">
    <script src="assets/js/validSignup.js"></script>
</head>

<body>
    <div class="wrap">
        <h2>Reset Password</h2>
        <form method="post" name="myForm">
            @*<span style="color:red;">@Html.ValidationMessageFor(model =>model.)</span>*@
            <span style="color:red;">@TempData["message"]</span>
            <input type="email" name="EmailID" placeholder="Enter your Email" value="" required>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</body>

</html>
