@RenderPage("~/Views/Manager/Common.cshtml")
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <!--<link rel="stylesheet" href="assets/styles/alldash.css">-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/alldash.css">
</head>
<body>
    <div class="pro">
        <h1>Welcome to ManagerDash Page</h1>
        <div style="margin-left:100px">
            <div style="margin-left: 30px"><h2>Modified Product Analysis</h2></div>
            <iframe src="~/Manager/ProductChart/" width="600" height="400"></iframe><br />
            <div style="margin-left: 50px"><h2>Pending Order Analysis</h2></div>
            <iframe src="~/Manager/OrderPendingChart/" width="600" height="400"></iframe>
        </div>
    </div>
</body>
</html>