<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--<link rel="stylesheet" type="text/css" href="../styles/homepage.css">-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/homepage.css">

</head>

<body>
    <div class="main">
        <img src="~/Assets/image/logo.png" alt="" style="width:100px; height: 100px">
        <a href="/Signup/Index">Signup</a>
        <a href="/Login/Index">Login</a>
    </div>
    
</body>
</html>
