@RenderPage("~/Views/Admin/Common.cshtml")

@model List<BTv6.Models.complain>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Pending Registrations</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/pendingReg.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div align="center" class="table">
        <h1 style="color:navajowhite">Customer Complains</h1>
        <hr />
        <form method="POST">
        </form>

        <table class="content-table">
            <thead>
            <thead>
                <tr>
                    <th>ISSUE</th>
                    <th>SENDER</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='tab'>
                @if (Model != null)
                {

                    foreach (var complain in Model)
                    {
                        <tr>
                            <td align='center'>@complain.sub</td>
                            <td align='center'>@complain.OwnerID</td>
                            
                            <td>
                                <button style="width: 50px;height: 20px; font-size:12px;">@Html.ActionLink("View", "ComplainDetails", new { id = complain.cID })</button>
                            </td>
                        </tr>
                    }

                }

                else
                {
                    <tr>
                        <td colspan='8' align='center'><span style="color:red">NO DATA FOUND</span></td>
                    </tr>
                }


            </tbody>

        </table>
    </div>
</body>
</html>